doctype html
html(lang="en")
  head
    title= title
    if css
      //- Array
      if css.length
        each sheet in css
          link(rel="stylesheet",type="text/css",href="#{ sheet }")    
     else
        link(rel="stylesheet",type="text/css",href="#{ css }")
    body
      header.container
        h1= title
      nav.container
          h2 Table of Contents
          #toc!= toc
      main.container
          #doc!= body
